.bisines {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg.png);
  background-size: cover;
  background-position: center;
  min-height: 600px;

  display: flex;
  align-items: center;
  text-align: center;
}

.bisines .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bisines__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-bottom: 30px;
}

.btn.btn-blue {
  background-color: #2196f3;
  cursor: pointer;
  color: white;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
}

.btn.btn-blue:hover {
  background-color: #1976d2;
}
